.logo {
	width: 80px;
}
.navbar {
	// padding: 10px 0;
	margin-bottom: 30px;
}
.profilepic {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.pfpinput {
	display: flex;
	align-items: center;
}
